.container-card {
  display: flex;
  padding: 10px;
  border: 4px;
  background-color: transparent;
}
.team-logo {
  width: 400px;
}
.team-head {
  color: #fff;
  font-size: 20px;
  margin-left: 15px;
}
